@media (min-width: 576px) {

    body {
        font-family: "Comic Sans", sans-serif;
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #fff;
    }


    .form-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
    }


    .jumbotron_text_center {
      background-image: url("https://s22.postimg.cc/q7in78pht/blue-2906525_1920.jpg");
      background-size: cover;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }



    img.img-thumbnail {
        padding: 0.25rem;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 14%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .img-thumbnail {
      opacity: 1;
    }
    .active,
    .img-thumbnail:hover {
      opacity: 0.6;
    }

    img {
        cursor: pointer;
        vertical-align: middle;
        border-style: none;
        flex-shrink: 0;
        width: 550px;
        height: 450px;
        box-shadow: 0px 2px 22px 1px rgba(0,0,0,0.2);
        padding: 0.20rem;

    }
    .demo {
      opacity: 1;
    }

    .active,
    .demo:hover {
      opacity: 0.6;
    }

    *, *::before, *::after {
        box-sizing: border-box;
    }

    #section {
        display: block;
        padding: 3%;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
        margin-bottom: 5%;
        background-color: white;
        box-shadow: 0px 2px 22px 1px rgba(0,0,0,0.6);
        transform: translateY(20px);
        transition: 0.5s ease-in-out;
        opacity: 1;
        transform: translateY(0px)
    }

    a {
      color: rgb(88, 27, 27);
      font-weight: 700;
      text-decoration: none;
      background-color: transparent;
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      line-height: 1.8rem;
      max-width: 23rem;
      font-size: 1.1rem;
    }

    /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
    .sticky + .content {
      padding-top: 60px;
    }

    h2 {
        font-size: 25px;
      font-family: Palatino, 'Palatino Linotype', serif;
      color: #a1681c;
      margin-bottom: 7px;
    }

    h3 {
      margin-top: 20px;
      text-align: left;
      text-decoration: underline;

    }

    h4 {
      text-align: left;
      font-size: 25px;
      margin-top: 20px;
      font-family: "Comic Sans MS", sans-serif;
      color: #d1430a;
    }


    h5 {
      margin-top: 80px;
      text-align: center;
      font-size: 14px;
      font-family: monospace;
      color: grey;
    }

    h6 {
      font-size: 18px;
      font-family: Palatino, 'Palatino Linotype', serif;
      color: #bb7418;
      margin-bottom: 7px;
      text-align: center;
    }

    footer {
      font-size: 12px;
      text-align: center;
    }

    div#txt {
      text-align: center;
    }

    }
